* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 1000px;
  margin: auto;
  background-image: url(../img/folha.jpg);
  background-size: 70px;
  background-attachment: fixed;
}

div, p {
  border-radius: 10px;
}

.menu {
  background-color: rgb(206, 134, 0);
  height: 80px;
  margin: auto;
  padding: 5px 15px;
  margin: 10px;
  display: flex;
}

.menu-links {
  text-align: right;
  width: 100%;
}

.menu-logo {
  text-align: left;
  margin: auto;  
}

header img {
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
}

.menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 8px;
  padding-right: 10px;
  color: rgb(54, 54, 54);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 16px;
  line-height: 20px;
}

.menu ul li a {
  color: rgb(54, 54, 54);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
}

.menu ul li a:hover {
  color: #fff;
}

p {
  color: rgb(54, 54, 54);
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
  background-color: rgb(206, 134, 0);
  margin: 15px;
  height: auto;
  padding: 30px;
}

.photo-livros, .photo-jiraiya, .desc-photo {
  padding: 15px;
  margin: 5px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
  background-color: orange;
}

span {
  font-style: inherit;
  font-family: fantasy;
  font-size: 25pt;
  text-transform: uppercase;
}

img {
  border-radius: 10px;
}

div.desc-photo p {
  font-size: 16pt;
}

.descr-home {
  height: 60px;
  text-align: center;
  margin: auto;
  padding: 5px 15px;
  background-color: rgb(206, 134, 0);
  align-items: center;
  display: flex;
}

.descr-home p {
  font-size: 14pt;
}

.form-body {
  width: 800px;
  margin: auto;
  padding: 20px;
}

legend {
  color: rgb(54, 54, 54)hite;
  background-color: rgb(206, 134, 0);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.596);
  border-radius: 5px;
  font-size: 1.3em;
  padding: 2px 5px;
  border-style: dashed;
  border-color: white;
}

div.form-body input, select, textarea {
  width: -webkit-fill-available;
  border-radius: 10px;
  border: none;
  border-style: inset;
  padding: 3px;
  margin: 5px;
  background-color: rgb(216, 216, 216);
}

.form-cont {
  padding: 15px;
  margin: auto;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
  background-color: orange;
}

.form-footer {
  text-align: right;
}

select {
  cursor: pointer;
}

button {
  font-size: 14pt;
  border-radius: 10px;
  border: none;
  border-style: inset;
  font-weight: 550;
  cursor: pointer;
  margin-right: 60px;
}

button:hover {
  background-color: rgb(22, 197, 22);
}

.cont-footer {
  background-color: rgb(206, 134, 0);
  height: 60px;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  justify-content: space-around
}

.local, .redes, .tags-chaves {
  padding: 5px;
  justify-content: space-evenly;
  width: 160px;
  display: flex;
  
}

footer div div  p {
  text-align: center;
  font-size: 10pt;
}

i {
  margin: auto;
  cursor: pointer;
}
